.paramsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #54577C;
}

.paramsSectionTitle {
    font-size: 30px;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    z-index: 2;
}

.paramsSectionTitle::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 110%;
    height: 4px; 
    background: #4BA3C3;
    z-index: -1;
}

.paramsSectionBody {
    margin-left: 15px;
    font-size: 25px;
}

.paramsSectionBody > div {
    margin-bottom: 7px;
}