.button {
    display: none;
}

.buttonLabel {
    background: #ee5522;
    border-radius: 5px;
    border: 2px solid #ffffff;
    font-size: inherit;
    color: white;
    font-family: inherit;
    padding: 5px 10px;
    box-shadow: 7px 7px #b8b7fb60;
    transition: all .1s ease-in-out;
  }
  
  .buttonLabel:hover {
    box-shadow: 5px 5px #b8b7fb80;
    transform: translate(1px, 1px);
    cursor: pointer;
  }
  
  .buttonLabel:active {
    box-shadow: 2px 2px #ffffff90;
    transform: translate(2px, 2px);
  }